version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres-db
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: querysence
      POSTGRES_USER: amine
      POSTGRES_PASSWORD: amine
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
