POSTGRES_DB=querysence
POSTGRES_USER=postgres-user
POSTGRES_PASSWORD=your-password

KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=your-password

DB_CONNECTION_ENCRYPTION_KEY=your-encryption-key

GROQ_API_KEY=your-groq-api-key
GROQ_BASE_URL=groq-api-base-url
GROQ_MODEL=groq-model-name
GROQ_TEMPERATURE=groq-temperature-value